<table class="pedigree">
<tr>
  <td>Parents</td>
  <td>Grandparents</td>
  <td>Great Grandparents</td>
</tr>

<%# Sire %>
  <% if @cat.sire %>
    <tr>
      <td class="cat sire"><%= link_to @cat.sire.name, @cat.sire %></td>

<%# Paternal Grandfather %>
      <% if @cat.sire.sire %>
        <td class="cat sire"><%= link_to @cat.sire.sire.name, @cat.sire.sire %></td>

<%# Paternal Great Grandfather %>
        <% if @cat.sire.sire.sire %>
          <td class="cat sire"><%= link_to @cat.sire.sire.sire.name, @cat.sire.sire.sire %></td>
        <% end %>
    </tr>
        <tr>
          <td></td>
          <td></td>

<%# Paternal Great Grandmother %>
          <if @cat.sire.sire.dam %>
            <td class="cat dam"><%= link_to(@cat.sire.sire.dam.name, @cat.sire.sire.dam) if @cat.sire.sire.dam %></td>
          <% end %>
    </tr>
    <tr>
      <td></td>

<%# Paternal Grandmother %>
      <% if @cat.sire.dam %>
        <td class="cat dam"><%= link_to @cat.sire.dam.name, @cat.sire.dam %></td>


<%# Paternal Great Grandfather %>
        <% if @cat.sire.dam.sire %>
          <td class="cat sire"><%= link_to @cat.sire.dam.sire.name, @cat.sire.dam.sire %></td>
        <% end %>
    </tr>
        <tr>
          <td></td>
          <td></td>

<%# Paternal Great Grandmother %>
        <% if @cat.sire.dam.dam %>
          <td class="cat dam"><%= link_to @cat.sire.dam.dam.name, @cat.sire.dam.dam %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

<%# Dam %>
  <% if @cat.dam %>
    <tr>
      <td class="cat dam"><%= link_to @cat.dam.name, @cat.dam %></td>

<%# Maternal Grandfather %>
      <% if @cat.dam.sire %>
        <td class="cat sire"><%= link_to @cat.dam.sire.name, @cat.dam.sire %></td>

<%# Maternal Great Grandfather %>
        <% if @cat.dam.sire.sire %>
          <td class="cat sire"><%= link_to @cat.dam.sire.sire.name, @cat.dam.sire.sire %></td>
        <% end %>
    </tr>
      <tr>
        <td></td>
        <td></td>

<%# Maternal Great Grandmother %>
          <if @cat.dam.sire.dam %>
            <td class="cat dam"><%= link_to(@cat.dam.sire.dam.name, @cat.dam.sire.dam) if @cat.dam.sire.dam %></td>
          <% end %>
    </tr>
    <tr>
      <td></td>

<%# Maternal Grandmother %>
      <% if @cat.dam.dam %>
        <td class="cat dam"><%= link_to @cat.dam.dam.name, @cat.dam.dam %></td>

<%# Maternal Great Grandfather %>
        <% if @cat.dam.dam.sire %>
          <td class="cat sire"><%= link_to @cat.dam.dam.sire.name, @cat.dam.dam.sire %></td>
        <% end %>
    </tr>
        <tr>
          <td></td>
          <td></td>

<%# Maternal Great Grandmother %>
        <% if @cat.dam.dam.dam %>
          <td class="cat dam"><%= link_to @cat.dam.dam.dam.name, @cat.dam.dam.dam %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>