<h2>
  <%= @cat.full_name %>
</h2>

<% if @cat.registration_number.present? %>
  <p>Registration number: <%= @cat.registration_number %></p>
<% end %>

<p>Gender: <%= @cat.gender.name %></p>

<% if @cat.breed %>
  <p>Breed: <%= @cat.breed.name %></p>
<% end %>

<% if @cat.coat_colour %>
  <p>Colour: <%= @cat.coat_colour.name %></p>
<% end %>

<%= image_tag(@cat.image_url, class: "cat-image") if @cat.image_url.present?  %>

<h3>Parents</h3>

<% if @cat.sire %>
  <p>Sire: <%= link_to(@cat.sire.full_name, cat_path(@cat.sire)) %>

  <% if @cat.sire.coat_colour || @cat.sire.breed %>
    (<%= @cat.sire.coat_colour.name if @cat.sire.coat_colour %> <%= @cat.sire.breed.name if @cat.sire.breed %>)</p>
  <% end %>
<% end %>

<% if @cat.dam %>
  <p>Dam: <%= link_to(@cat.dam.full_name, cat_path(@cat.dam)) %>

  <% if @cat.dam.coat_colour || @cat.dam.breed %>
    (<%= @cat.dam.coat_colour.name if @cat.dam.coat_colour %> <%= @cat.dam.breed.name if @cat.dam.breed %>)</p>
  <% end %>
<% end %>

<h3>Pedigree</h3>

<%= render partial: "pedigree" %>

<% if !@cat.kittens.empty? || !@cat.offspring.empty? %>
  <h3>Progeny</h3>
<% end %>

<ul>
  <% if @cat.is_sire? %>
    <% @cat.kittens.each do |kitten| %>
      <li><%= link_to(kitten.name, cat_path(kitten), class: "cat-link") %></li>
    <% end %>
  <% else %>
    <% @cat.offspring.each do |kitten| %>
      <li><%= link_to(kitten.name, cat_path(kitten), class: "cat-link") %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to("Edit cat", edit_cat_path(@cat), class: "button") %>
<%= link_to("Back to cats", cats_path, class: "button") %>
